/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020. febr. 29., 15:19:10
    Author     : Aliz
*/
html, 
body {
    height: 100%;
}

body {
    position: relative;

}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2019/12/23132714/ID-RD-partners-with-Biometric-Update-for-enterprise-authentication-survey-1024x683.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
}

.container {
    margin-top: 50px;
}
